# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# secret
#.ebextensions/secret.json

# testing
/coverage
**/coverage

# production
build
dist

# misc
.DS_Store

__pycache__/
*.egg-info/

# venv
venv

**/coverage.json

# idea
/.idea/*

# db
db.sqlite3

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*/build/*
