django
djangorestframework
drf-spectacular
coreapi
psycopg2-binary
djangorestframework-simplejwt
pytest
pytest-django
drf-social-oauth2
requests-mock
django-cors-headers
boto3
requests_toolbelt
drf_yasg
django-storages
elasticsearch