container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  02_collect_static:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --no-input"
    leader_only: true
  03_create_superuser:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py dosuri_superuser"
    leader_only: true
  04_register_insurance_celery:
    command: "echo -e 'After=network.target\n\n[Service]\nEnvironmentFile=/opt/elasticbeanstalk/deployment/env\nType=exec\nUser=ec2-user\nGroup=ec2-user\nExecStart=/var/app/venv/staging-LQM1lest/bin/celery -A dosuri.celery.app worker --loglevel=info\nTimeoutStopSec=5\nRestart=on-failure\nRestartSec=3' | sudo tee /etc/systemd/system/insurance-celery.service"
  05_register_celery_beat:
    command: "echo -e 'After=network.target\n\n[Service]\nEnvironmentFile=/opt/elasticbeanstalk/deployment/env\nType=exec\nUser=root\nGroup=root\nExecStart=/var/app/venv/staging-LQM1lest/bin/celery -A dosuri.celery beat --loglevel=info\nTimeoutStopSec=5\nRestart=on-failure\nRestartSec=3' | sudo tee /etc/systemd/system/celery-beat.service"
  06_restart_celery:
    command: "sudo systemctl enable insurance-celery celery-beat; sudo systemctl restart insurance-celery celery-beat"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "config.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "config.wsgi:application"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
